
dataset/creditcard.csv
dataset/creditcard.data

implementaion/.idea/workspace.xml
dataset/spambase.names

implementaion/dataset/creditcard.csv
implementaion/dataset/creditcard.data

implementaion/.idea/workspace.xml
